extends layout

block content
  // Form for Adding Products
  form(action='/addProduct' method='POST' class='form-registration')
    div(class='row my-3')
      div(class='col-md-2 align-bottom')
        label(for="productName" class='fs-5') New Product
      div(class='col-md-8')
        input(class="form-control form-control-sm" type="text" name='productName', placeholder="Enter new product name" )
      div(class='col-md-2 text-end')
        button(class='btn btn-success btn-sm' type='submit') Add Product

  // Listing all Products
  h5(class='my-2') All Products

  div(class='row mb-3 border-bottom border-3')
    div(class='col-md-8 fw-bold') Product Name
    div(class='col-md-4 fw-bold') Actions

  each product in allProducts
    div(class='row mb-2')
      div(class='col-sm-8') #{product.productName}
      div(class='col-sm-4')
        // Form for Deleting Product
        form(action='/deleteProduct' method='POST' class='form-registration')
          input(type='hidden' name='_id' value=`${product._id}`)
          button(class='btn btn-danger btn-sm mx-1' type='submit') Delete
