extends layout

block content
  //- Form for Adding Products
  form(action='./addTask' method='POST' class='form-registration')
    .row.my-3
      .col-md-12.text-center
        label(for="taskName" class='fs-5 mb-2') Product Management System
        input.form-control.form-control-lg(type="text", name='taskName', placeholder="Enter new Product here" )
        button.btn.btn-primary.btn-lg.mt-3(type='submit') Add Product

  //- Listing all Products
  h5(class='my-4 text-center') All Products

  .table-responsive
    table.table.table-striped.table-hover
      thead
        tr
          th(class='fw-bold') Product
          th(class='fw-bold') Added On
          th(class='fw-bold') Actions
      tbody
        each task in currentTasks
          tr
            td #{task.taskName}
            td #{format(task.createDate, "yyyy-MM-dd HH:mm:ss")}
            td
              form(action='./deleteTask' method='POST' class='form-registration')
                input(type='hidden' name='_id' value=task._id)
                button.btn.btn-primary.btn-sm(type='submit') Remove Entry

