doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    header(class='bg-dark py-4 mb-4 text-light text-center')
      .container
        img(src='/images/logo.jpg', alt='Company Logo', class='img-fluid mb-3', width='200')
        h1(class='display-3 fw-bold mb-0') ELL 887
        h2(class='fw-bold mb-3') Cloud Computing
        p(class='lead mb-0') Assignment 2 - Azure Webapp

    main(class='container')
      block content

    footer(class='bg-light py-4 mt-4 text-center')
      .container
        p(class='mb-0') © Pabitra Sahoo- 2022EET2107.

  script(src='/js/bootstrap.min.js')
