doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    header(class='bg-dark py-4 mb-4 text-light text-center')
      .container
        img(src='/images/_2411db69-dc3c-4ad1-ba25-c9795625bc89.jpg', alt='Company Logo', class='img-fluid mb-3')
        h1(class='display-2 mb-0') ELL 887
        h2(class='fw-bold mb-3') Cloud Computing
        p(class='lead') Assignment 2 - Azure

    main(class='container')
      block content

    footer(class='bg-light py-4 mt-4')
      .container.text-center
        p(class='mb-0') © Pabitra Sahoo - 2022EET2107

  script(src='/js/bootstrap.min.js')


