body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #e1ceff;
}

.text-azure-blue {
  color: #e1ceff
}

.bg-azure-light-gray {
  background-color: #e1ceff;
}